/* ANIMAÇÃO PADRÃO DAS NUVENS QUANDO ESTÃO PARADAS */
@keyframes clouds {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* ANIMAÇÕES DAS NUVENS SE MOVENDO AO IR PARA OUTRA PAGINA */
@keyframes clouds_move1 {
    35%{
        transform: translateX(-100%);
    }
    35.1%{
        transform: translateX(-50%) translateY(-200%);
    }
    35.2%{
        transform: translateX(100vw) translateY(-200%);
    }
    35.3%{
        transform: translateX(100vw) translateY(0);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}
@keyframes clouds_move2 {
    65%{
        transform: translateX(-100vw) translateY(0);
    }
    65.1%{
        transform: translateX(-100vw) translateY(-20vh);
    }
    65.2%{
        transform: translateX(20vh) translateY(-20vh);
    }
    65.2%{
        transform: translateX(20vh) translateY(0);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

.router{
    height: 100%;
    transition: 0.5s;
}

/* ESTILO DO MENU DE CONFIGURAÇÕES */
.router .config{
    z-index: 2;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 40px;
    height: 9%;
    transition: 0.2s;
}
.router .config img{
    height: 100%;
}
.router .config:hover{
    transform: rotate(10deg);
}
.router .config.disabled{
    opacity: 20%;
    pointer-events: none;
}

/* ESTILO DAS NUVENS */
.cloud{
    position: absolute;
    height: 30%;
    animation-name: clouds;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.router .c1{
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    top: 10%;
}
.router .c2{
    top: 1%;
    right: -5%;
}
.cloud1-translate{
    animation-name: clouds_move1;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
.cloud2-translate{
    animation-name: clouds_move2;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

/* TELA DE BLOQUEIO NO CELULAR PARA TRAVAR O SITE CASO NÃO ESTEJA EM FULLSCREEN */
.portrait-screen-alert{
    top: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #0065a8;
    z-index: 200;
    box-sizing: border-box;
    border: solid 1vh #004777;
    opacity: 99%;
}
.portrait-screen-alert button{
    border: none;
    outline: none;
    font-size: 8vw;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    background-color: #0084db;
    text-shadow: 0 2px 3px #444;
}