/* BRILHO DO KANJI 日本学 */
@keyframes logo {
    0%{
        filter: none;
    }
    90%{
        filter: none;
    }
    95%{
        filter: drop-shadow(0 0 5px #ff5e5e)
    }
    100%{
        filter: none;
    }
}

/* ANIMAÇÃO AO CLICAR NO NINJA */
@keyframes ninja {
    0%{
        transform: rotate(0);
    }
    10%{
        transform: rotate(-2deg);
    }
    20%{
        transform: rotate(-2.5deg);
    }
    30%{
        transform: rotate(-2deg);
    }
    40%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(2deg);
    }
    60%{
        transform: rotate(2.5deg);
    }
    70%{
        transform: rotate(2deg);
    }
    80%{
        transform: rotate(0);
    }
    90%{
        transform: rotate(-0.4deg);
    }
    100%{
        transform: rotate(0);
    }
}

.main-page{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-image: url(../../assets/background.jpg);
    background-position: 100% 100%;
    background-size: 100% 120%;
}

/* KANJI 日本学 NA PAGINA */
.main-page .title{
    position: relative;
    height: 70%;
}
.main-page .title .logo{
    z-index: 2;
    height: 40%;
    top: 10%;
    position: absolute;
    animation-name: logo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: 0.5s;
}

.main-page .title .ninja{
    position: absolute;
    height: 90%;
    transition: 0.5s;
}
.ninja.ninjaAnimation{
    animation-duration: 0.2s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-name: ninja !important;
}

/* LINKS */
.main-page .options{
    height: 30%;
    text-align: center;
    font-size: 4vw;
}
.main-page .options div{
    width: 100%;
}