.review{
    background-image: url(../../assets/background.jpg);
    background-size: 100% 120%;
    height: 100%;
    transition: 0s;
}

.review .return{
    z-index: 2;
    background-color: transparent;
    position: absolute;
    top: 40px;
    left: 40px;
    height: 9%;
}
.review .return img{
    height: 100%;
    transition: 0.2s;
}
.review .return img:hover{
    transform: translateX(-5px);
}

.mainAlphabets{
    height: 100%;
}
.review .info{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 1.5vw;
    text-shadow: 0 3px 3px #000;
}
.mainAlphabets section{
    z-index: 2;
    height: 100%;
    width: 50%;
    flex-direction: column;
}
.mainAlphabets figure{
    width: 100%;
    flex-grow: 1;
    align-items: end;
}
.mainAlphabets figure img{
    width: 100%;
}
.mainAlphabets article{
    width: 100%;
    flex-grow: 8;
    flex-basis: 10%;
    flex-direction: column;
    justify-content: start;
    gap: 20%;
    padding-top: 15%;
}
.mainAlphabets article span{
    font-size: 2.9vw;
}
.mainAlphabets article .text-hover{
    font-size: 6vh;
}