/* FONTE PADRÃO DO SITE */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    font-family: Itim, Arial, Helvetica, sans-serif;
    color: #000;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html, body, #root{
    background-color: #9CBCE2;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}